# Build artifacts
/target/

# rustfmt backups
**/*.rs.bk

*_indentex.tex
/tests/blns/blns.inden.tex

/packaging/windows_wix/*.msi
/packaging/windows_wix/*.msi.DIGEST
/packaging/windows_wix/*.wixobj
/packaging/windows_wix/*.wixpdb
/packaging/windows_wix/indentex.wxs
/packaging/windows_wix/LICENSE.rtf
/packaging/windows_wix/indentex.exe

/packaging/windows_choco/package/indentex.exe
/packaging/windows_choco/package/LICENSE.txt
/packaging/windows_choco/package/VERIFICATION.txt
/packaging/windows_choco/*.nupkg
/packaging/windows_choco/indentex.exe.DIGEST
