<?xml version="1.0"?>

<!-- Update version for every release -->
<?define ProductVersion = "$version"?>

<!-- NEVER CHANGE GUIDs! -->
<?define ProductUpgradeCode = "12345678-1234-1234-1234-111111111123"?>
<?define MainExecutableGuid = "12345678-1234-1234-1234-222222222123"?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Product Id="*" UpgradeCode="$$(var.ProductUpgradeCode)"
        Name="Indentex" Version="$$(var.ProductVersion)" Manufacturer="Mikhail Pak" Language="1033">

        <Package InstallerVersion="200" Compressed="yes" Comments="Windows Installer Package" InstallScope="perUser" />
        <Media Id="1" Cabinet="product.cab" EmbedCab="yes" />

        <Property Id="ARPHELPLINK" Value="https://github.com/mp4096/indentex" />
        <Property Id="ARPURLINFOABOUT" Value="https://github.com/mp4096/indentex" />
        <Property Id="ARPNOREPAIR" Value="1" />

        <Upgrade Id="$$(var.ProductUpgradeCode)">
            <UpgradeVersion Minimum="$$(var.ProductVersion)" OnlyDetect="yes"
                Property="NEWERVERSIONDETECTED" />
            <UpgradeVersion Minimum="0.0.0" Maximum="$$(var.ProductVersion)"
                IncludeMinimum="yes" IncludeMaximum="no"
                Property="OLDERVERSIONBEINGUPGRADED" />
        </Upgrade>
        <Condition Message="A newer version of this software is already installed.">NOT NEWERVERSIONDETECTED</Condition>

        <Directory Id="TARGETDIR" Name="SourceDir">
            <Directory Id="LocalAppDataFolder">
                <Directory Id="INSTALLDIR" Name="Indentex">
                    <Component Id="MainExecutable" Guid="$$(var.MainExecutableGuid)">
                        <File Id="IndentexEXE" Source="..\..\target\release\indentex.exe" Vital="yes" />
                        <RemoveFolder Id="INSTALLDIR" On="uninstall" />
                        <RegistryKey Root="HKCU" Key="Software\Indentex">
                            <RegistryValue Name="Version" Value="[ProductVersion]" KeyPath="yes" Type="string" />
                        </RegistryKey>
                        <Environment Id="SetUserPath" Name="PATH" Action="set"
                                   Permanent="no" System="no" Part="last"
                                   Value="[INSTALLDIR]" />
                    </Component>
                </Directory>
            </Directory>
        </Directory>

        <InstallExecuteSequence>
            <RemoveExistingProducts After="InstallValidate"/>
        </InstallExecuteSequence>

        <Feature Id="DefaultFeature" Level="1">
            <ComponentRef Id="MainExecutable"/>
        </Feature>

        <WixVariable Id="WixUILicenseRtf" Value="LICENSE.rtf" />

        <Property Id="WIXUI_INSTALLDIR" Value="INSTALLDIR" />
        <UIRef Id="WixUI_InstallDir" />
    </Product>
</Wix>
